
<p>
  <strong>User Id</strong>
  <%= User.find(@appoint.user_id).email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appoint.start_time.strftime('%Y-%m-%d %H') %>

</p>

<p>
  <strong>End time:</strong>
  <%= @appoint.end_time.strftime('%Y-%m-%d %H') %>

</p>

<p>
  <strong>length:</strong>
  <%= @appoint.length %>

</p>


<%= link_to 'Edit', edit_appoint_path(@appoint) %> |
<%= link_to 'Back', :back %>


