
<h1>Nothings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nothings.each do |nothing| %>
      <tr>
        <td><%= nothing.name %></td>
        <td><%= link_to 'Show', nothing %></td>
        <td><%= link_to 'Edit', edit_nothing_path(nothing) %></td>
        <td><%= link_to 'Destroy', nothing, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nothing', new_nothing_path %>
