
    <% @room.appoints.each do |appoint| %>

        <% if appoint.start_time < DateTime.now %>
            <% if appoint.end_time > DateTime.now %>
                <% @room.vacant="Booked" %>
                <% break %>
            <% else %>
                <% @room.vacant="Available" %>
            <% end %>
        <% end %>

<% end %>


<p>
  <strong>Number:</strong>
  <%= @room.number %>

</p>

<p>
  <strong>Building:</strong>
  <%= @room.building %>
</p>

<% if current_user.privilege != 'Member' %>

<p>
  <strong>Booking History:</strong>
</p>

<table style="border: dotted;margin-left: 20px">
  <thead>
  <tr>
    <th>Starts at</th>
    <th>By Whom</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @room.appoints.each do |appoint| %>
      <tr>
        <td><%= appoint.start_time.strftime('%Y-%m-%d %H')  %></td>
        <td><%= User.find(appoint.user_id).name %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<% end %>

<p></p>
<div><%= link_to 'Back', :back %>  </div>

